body {
    background-image:url(mesadetrabalho.jpg);
    background-repeat: no-repeat;
    /*background-position: a posição desejada tamnbem pode ser por meio de porcentagem 100% 10%;*/
    background-position:  center center;
    background-size: cover;
    background-attachment: fixed;
}  

.foto-principal{
    width: 170px;
    border: 2px solid #ffff;
    border-radius: 50% 10% 50% 10%;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    box-shadow: 5px 5px #969696;
}


.p{
    color: #000;
}