body {
    background-image:url(mesadetrabalho.jpg);
    background-repeat: no-repeat;
    /*background-position: a posição desejada tamnbem pode ser por meio de porcentagem 100% 10%;*/
    background-position:  center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica,'Courier New',sans-serif;
    color:rgb(0,0,0);
}  
.container{
    width: 900px;
    margin: 0 auto;
}

.foto-principal{
    width: 170px;
    border: 2px solid #ffff;
    border-radius: 50% 10% 50% 10%;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    box-shadow: 5px 5px #969696;
}


.p{
    color: #000;
}
h1{
    margin-bottom: 0%;
}
h2{
    margin-top: 0%;
    font-style: italic;
    font-weight: 300;
}